{% block nav_scrollable_widget -%}
    {%- require_style '@bower/sonatra-bootstrap-nav-scroll/less/nav-scroll.less' -%}
    {%- require_script   '@bower/jquery/dist/jquery.js'
                        '@bower/hammerjs/hammer.js'
                        '@bower/sonatra-bootstrap-nav-scroll/js/dropdown-position.js'
                        '@bower/sonatra-bootstrap-nav-scroll/js/nav-scroll.js' -%}
    {%- set attr = attr|merge({'class': ('nav-scrollable ' ~ attr.class|default(''))|trim, 'data-nav-scroll': 'true'}) -%}

    <div{{ block('widget_container_attributes') }}>
        {{- value|raw -}}
        {%- for child in block -%}
            {{- block_widget(child) -}}
        {%- endfor -%}
    </div>
{%- endblock nav_scrollable_widget %}
