{% block textarea_widget -%}
    {%- if floating_label|default(false) is same as(true) -%}
    {%- require_script  '@bower/jquery/dist/jquery.js',
                        '@bower/sonatra-theme-gluon/js/floating-label.js'
                        '?@bower/sonatra-theme-gluon/js/resizing-textarea.js' -%}
    {%- endif -%}
    {%- if addon_attr is defined and errors|length > 0 -%}
        {%- set addon_attr = addon_attr|merge({'class': (addon_attr.class|default('') ~ ' has-error')|trim}) -%}
    {%- endif -%}
    {%- set textarea_widget_before_content -%}
        <div class="floating-group{% if addon_attr is not defined and errors|length > 0 %} has-error{% endif %}">
    {%- endset -%}

    {%- set textarea_widget_after_content -%}
        <span class="floating-bar"></span>
        {%- if floating_label|default(false) is same as(true) -%}
            {%- set label_attr = label_attr|merge({'class': ('control-label ' ~ label_attr.class|default(''))|trim}) -%}
            {{ block('base_form_label') }}
        {%- endif -%}
        {{- form_errors(form) -}}
        </div>
    {%- endset -%}
    {{ block('base2_textarea_widget') }}
{%- endblock textarea_widget %}
